/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    border:2px solid black;
}
.logo {
    width: 100px;
    height:100px;
}
.logo img {
    width:100%;
}

.nav-items ul {
    display: flex;
    justify-content:space-between;
    list-style-type:  none;
}
.nav-items {
    padding: 0px 20px;
}
.nav-items ul li{
    padding:10px;
    font-size:16px;
}

/*Body*/

.res_container{
    display:flex;
    flex-wrap:wrap;
}

.res_card {
    margin:5px;
    padding:5px;
    width:200px;
    /* height:300px; */
    
    overflow:none;
}
.search {
    padding: 10px;
}

.res_logo{
    width:100%;
    height:140px;
}
.res_card:hover {
    cursor:pointer;
    border: 1px solid black;
}